{{!--
Re-usable card for linking to posts
--}}

<article class="feed {{visibility}} {{post_class}}">

    <div class="feed-calendar">
        <div class="feed-calendar-month">
            {{date published_at format="MMM"}}
        </div>
        <div class="feed-calendar-day">
            {{date published_at format="DD"}}
        </div>
    </div>

    <h2 class="feed-title">{{title}}</h2>

    <div class="feed-right">
	{{#if featured:true}}
            {{> "icons/star"}}
	{{/if}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>

    {{> "icons/chevron-right"}}

    <a class="cover-parent" href="{{url}}" aria-label="{{title}}"></a>

</article>
