{{!--
Re-usable card for linking to posts
--}}

<article class="h-entry feed {{visibility}} {{post_class}}">

    <h2 class="p-name feed-title">{{title}}</h2>
    <div class="gh-content gh-canvas">
        {{content}}
    </div>

    <a class="u-url cover-parent" href="{{url}}" aria-label="{{title}}"></a>

</article>
